<project name="${project.name}" description="Quality assurance related tasks">

    <property name="standard.phpcs" value="${project.basedir}/vendor/shoppingfeed/coding-style-php/phpcs/ruleset.xml"/>
    <property name="standard.md"    value="${project.basedir}/vendor/shoppingfeed/coding-style-php/phpmd/phpmd.xml"/>
    <property name="exec.phpmd"     value="${project.basedir}/vendor/bin/phpmd"/>
    <property name="exec.phpcs"     value="${project.basedir}/vendor/bin/phpcs"/>
    <property name="exec.phpcbf"    value="${project.basedir}/vendor/bin/phpcbf"/>
    <property name="dir.build"      value="${project.basedir}/build"/>
    <property name="dir.report.qa"  value="${dir.build}/quality-insurance"/>

    <target name="qa" description="Quality assurance check" depends="qa:phpcs, qa:phpmd"/>

    <target name="qa:phpmd" description="Mess detector">
        <exec executable="${exec.phpmd}" checkreturn="true" passthru="true">
            <arg path="${project.basedir}/src"/>
            <arg path="xml"/>
            <arg path="${standard.md}"/>
            <arg value="--exclude"/>
            <arg path="*/tests/*"/>
            <arg value="--reportfile"/>
            <arg path="${dir.report.qa}/pmd.xml"/>
        </exec>
    </target>

    <target name="qa:phpcs" description="Find coding standard violations using PHP_CodeSniffer" depends="qa:prepare">
        <exec executable="${exec.phpcs}" checkreturn="true" passthru="true">
            <arg value="--report=summary"/>
            <arg value="--standard=${standard.phpcs}"/>
            <arg value="--report-emacs=${dir.report.qa}/phpcs.log"/>
            <arg value="--report-checkstyle=${dir.report.qa}/phpcs.xml"/>
            <arg value="--extensions=php"/>
            <arg path="${project.basedir}/src"/>
        </exec>
    </target>

    <target name="qa:fix-phpcs" description="Automatically Fix coding standard violations" depends="qa:prepare">
        <exec executable="${exec.phpcbf}" checkreturn="true" passthru="true">
            <arg path="${project.basedir}/src"/>
            <arg value="--standard=${standard.phpcs}"/>
        </exec>
    </target>

    <target name="qa:prepare">
        <mkdir dir="${dir.report.qa}" mode="777"/>
    </target>

</project>